//
//  PremiumVersionConfig.xcconfig
//  HabitApp
//
//  Base configuration for the Premium version of the app
//

SWIFT_ACTIVE_COMPILATION_CONDITIONS = \
$(inherited) \
CATEGORY_FEATURE \
DAILY_NOTE_FEATURE \
REMINDER_FEATURE \
STATISTIC_FEATURE \
HABIT_FEATURE \
GOAL_FEATURE \
ACCESIBILITY_FEATURE \
ADDICTION_FEATURE \
SETTING_FEATURE \
STREAK_FEATURE \
ACHIEVEMENT_FEATURE \
WILD_CARD_FEATURE
